@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


:root{
    --color-body: 
    #fbfbf7
    ;
    --color-lista-formulario: #478ebb;
    --color-encabezado-nav: #1A0EA8;
    --color-menu-enlace:#e02929;
    --color-menu-enlace-hover:#541f1f;
    --color-buscar-label:#e02929;
    --color-buscar-input:#f6f6f6;
    --color-placeholder-input-busqueda:#302c2c;
    --color-botones-formulario: #e02929;
    --color-botones-formulario-hover: #571e1e;
    --olor-lista-productos:#FFFFFF;
}


body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-body);
    background-image: url();
}

/*Encabezado*/
    .encabezado{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .nombre_empresa{
        font-family: "Tangerine", cursive;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        color: #FFFFFF;
        text-align: center;
        
        
    }
  

    .encabezado-nav{
        display: flex;
        flex-direction: column ;
        position: fixed;
        width: 100%;
        gap: 20px;
        background-color: var(--color-encabezado-nav);
        margin-right:60px ;
        padding: 10px 0px 10px 10px;
    }
    .encabezado-nav-logo-texto{
        margin-bottom: -40px;
    }
    .encabezado-logo{
        height:40px ;
        width: 40px;
    }

    .menu_cuenta{
        display: flex;
        gap: 100px;

    }
    .cuenta_enlace,
    .menu_enlace{
        background-color: var(--color-menu-enlace);
        padding: 5px;
        color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        width: 30%;
        
    }

    .cuenta_enlace:hover,
    .menu_enlace:hover{
      background-color: var(--color-menu-enlace-hover);
    }


    .buscar__input {
        width: 85%;
        height: 38px;
        border: 1px solid rgb(211, 211, 211);
        font-size: 16px;
        color: #000;
        padding: 3px 8px;
        background-color: var(--color-buscar-input);
        border: 1px solid rgb(9, 9, 9);
    }
    .buscar__input::placeholder{
        color:var(--color-placeholder-input-busqueda);
    }
    .buscar__label {
        background-image: url(../imagenes/search.png);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgb(16, 16, 16);
        background-color: #e02929;
        border-left: none;
        padding: 9px 18px 10px;
        cursor: pointer;
        
    }

    /*Carrusel*/
    #carrusel {
      padding-top: 210px;
      padding-bottom: 190px;
    }
    .imagen {
        position: absolute;
        width: 100%;
        max-height: 30%;
        opacity: 0;
        border-radius: 10px;
        transition: opacity 2s ease-in-out;
    }
    .imagen.visible {
        opacity: 1;
    }
    strong{
        font-weight: 600;
    }
    .desarrollo_descripción-texto{
        padding: 5px 20px 20px 20px;
    }

/*container*/
    .desarrollo{
        
        padding: 10px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    hr{
        width:150px ;
        height: 5px;
        border-radius: 2px;
        background-color: #7b1c04;
        border: none;
        margin-top: -10px;

    }


    /*solicitudes*/
    .desarrollo_agregar_productos{
        background-color: var(--color-lista-formulario);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 10px;
    
    }
    .desarrollo_agregar_productos-formulario{
        padding:10px ;
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    .desarrollo_descripción-texto{
        text-align: justify;
    }



    .titulo{
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
    }
    .formulario-completar{
    width: 100%;
    height: 50px;
    justify-items: start;
    }
    .formulario__descripción{
        font-size: 1rem;
        font-weight: 600;
    }
    .botones{
    display: flex;
    justify-content: center;
    gap: 80px;
    }
    .boton_1{
        background-color: #3b682b;
    }
    .boton_2{
        background-color:var(--color-botones-formulario);
    }
    .todos_botones{
        color: #FFFFFF;
        width: 120px;
        min-height: 40px;
        border-radius: 10px;
    }
    .todos_botones:hover{
        background-color:var(--color-botones-formulario-hover) ;
        border-radius: 15px;
    }

    /* HTML CUENTA*/
    .formulario-cuenta{
        margin-top: 200px;
    }

    .botones-cuenta{
       width: 150px;
    }

    /*Lista de productos*/
    .desarrollo_listado_productos{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color:var(--color-lista-formulario);
        padding: 10px 10px 10px  ;
    }
    .delete-btn {
     
        color: red;
        cursor: pointer;
        }

    .listado_producto{
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
        padding-left: 10px;
        padding-right: 10px;
        

    }
    .lista_productos_li{
        width: 180px;
        height: 280px;
        flex-grow: 1;
        background-color: var(--olor-lista-productos);
        box-shadow:  5px 1px 10px 1px rgba(50, 17, 1, 1);
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        
    }

    .listado-imagen{
    width:160px ;
    height: 170px;
    border-radius: 10px;
    }




/*Footer*/
.footer {
    width: 100%;
    margin-top: 20px;
    height: 150px;
    color: #000;
    line-height: 1.5;
    font-size: 16px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.footer-navigation-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-logo{
    width: 80px;
    height: 80px;
}

.footer-aside-logo{
    padding-top: 35px;
}



.footer-navigation-icon:hover{
    background-color: #dc7b65;
}
 

.footer-navigation-icon{
    width: 30px;
    height: 30px;
}

.footer-navigation-text{
    padding-bottom: 50px;
   
}




/* Tablets y pantallas más grandes */
@media (min-width: 768px) {

    /*Encabezado*/
    .encabezado-nav{
        display: flex;
        flex-direction: row ;
        gap: 20px;
    }
    .cuenta_enlace,
    .menu_enlace{
        background-color: var(--color-menu-enlace);
        padding: 5px;
        color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        width: 40%;
    }
    .nombre_empresa{
        font-family: "Tangerine", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 25px;
        
    }
 
    #carrusel {
        padding-top: 80px;
        padding-bottom: 420px;
      }
    .imagen {
        position: absolute;
        width: 100%;
        max-height: 70%;
        opacity: 0;
        border-radius: 10px;
        transition: opacity 2s ease-in-out;
    }
   
   
    .encabezado-nav-enlace{
    padding-top: 30px;
    }
    /* HTML CUENTA*/
    .formulario-cuenta{
        margin-top: 100px;

    }
        
   
   

    /*FOOTER*/

    .footer {
        height: 50px;
    }
    .footer-aside-logo{
        padding-top: 5px;
    }
}

@media (min-width: 1070px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    
    /*Encabezado*/
    .cuenta_enlace,
    .menu_enlace{
        padding: 15px ;
        width: 150px;
    }
    .encabezado-nav{
        display: flex;
        flex-direction: row ;
        gap: 80px;
    }
    .nombre_empresa{
        font-family: "Tangerine", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        
    }
    #carrusel {
        padding-top: 80px;
        padding-bottom: 430px;
    }
  

    /* HTML CUENTA*/
     .formulario-cuenta{
        
        margin-right: 100px;

    }
   
    .desarrollo{
        display: flex;
        flex-direction: row-reverse;
        
    }
    .desarrollo_agregar_productos{
        width: 70%;
        height: 50%;
        margin-top: 50px;
    }

    /*pie de página*/
    .footer-navigation-list{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }
   
}